<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="debug" type="bool" label="32001" default="false"/>
    <setting id="bridge_ip" type="text" label="32002" default="" />
    <!-- <setting id="transition_time" type="number" label="32003" default="2" /> 
    Does not seem to work in phue at this time!-->
    <setting id="playback_start" type="text" label="32004" default="" />
    <setting id="playback_paused" type="text" label="32005" default="" />
    <setting id="playback_end" type="text" label="32006" default="" />
    <setting id="video_only" type="bool" label="32007" default="true" />
    <setting id="lights_already_on" type="bool" label="32008" default="true" />
    <setting id="excl_time_on" type="bool" label="32009" default="true" />
    <setting id="excl_time_start" type="time" label="32010" default="03:00"/>
    <setting id="excl_time_end" type="time" label="32011" default="12:00"/>
</settings>

